# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# =========================
# Dependencies
# =========================
/node_modules
**/node_modules/
**/.ignored/
.pnp
.pnp.js
.yarn/install-state.gz

# =========================
# Testing
# =========================
/coverage

# =========================
# Next.js
# =========================
/.next/
/out/
.next/
next-env.d.ts

# =========================
# Production
# =========================
/build
dist/

# =========================
# Turbo / Monorepo
# =========================
.turbo/
**/.turbo/

# =========================
# Misc
# =========================
.DS_Store
*.pem

# =========================
# Debug logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment files
# =========================
.env*

# =========================
# Vercel
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
